*, *::before, *:after {
  box-sizing: border-box;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-family: $text-regular;
}

body {

}

p {

}

a {

}

strong {
  font-weight: inherit;
}
