@font-face {
    font-family: 'contrate';
<<<<<<< HEAD
    src:  url('../fonts/contrate/contrate.eot?g3sqim');
    src:  url('../fonts/contrate/contrate.eot?g3sqim#iefix') format('embedded-opentype'),
      url('../fonts/contrate/contrate.ttf?g3sqim') format('truetype'),
      url('../fonts/contrate/contrate.woff?g3sqim') format('woff'),
      url('../fonts/contrate/contrate.svg?g3sqim#contrate') format('svg');
=======
    src:  url('fonts/contrate/contrate.eot?g3sqim');
    src:  url('fonts/contrate/contrate.eot?g3sqim#iefix') format('embedded-opentype'),
      url('fonts/contrate/contrate.ttf?g3sqim') format('truetype'),
      url('fonts/contrate/contrate.woff?g3sqim') format('woff'),
      url('fonts/contrate/contrate.svg?g3sqim#contrate') format('svg');
>>>>>>> Ultimo update com above the fold e ajustes nas fontes
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-family: 'contrate' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-facebook:before {
    content: "\e900";
  }

  .icon-instagram:before {
    content: "\e901";
  }

  .icon-linkedin:before {
    content: "\e902";
  }

  .icon-twitter:before {
    content: "\e903";
  }

  .icon-view-grid:before {
    content: "\e904";
  }

  .icon-view-list:before {
    content: "\e905";
  }

  .icon-youtube-play:before {
    content: "\e906";
  }

  //Natio logo
@font-face {
  font-family: 'natio';
<<<<<<< HEAD
  src: url("../fonts/natio/natio.eot?x70y3q");
  src: url("../fonts/natio/natio.eot?x70y3q#iefix") format("embedded-opentype"),
  url("../fonts/natio/natio.ttf?x70y3q") format("truetype"),
  url("../fonts/natio/natio.woff?x70y3q") format("woff"),
  url("../fonts/natio/natio.svg?x70y3q#natio") format("svg");
=======
  src: url("fonts/natio/natio.eot?x70y3q");
  src: url("fonts/natio/natio.eot?x70y3q#iefix") format("embedded-opentype"),
  url("fonts/natio/natio.ttf?x70y3q") format("truetype"),
  url("fonts/natio/natio.woff?x70y3q") format("woff"),
  url("fonts/natio/natio.svg?x70y3q#natio") format("svg");
>>>>>>> Ultimo update com above the fold e ajustes nas fontes
  font-weight: normal;
  font-style: normal; }

[class^="logo-"], [class*=" logo-"] {
  font-family: 'natio', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.logo-natio:before {
  content: "\e900";
}