@font-face {
  font-family: 'HurmeGeometricSans1-Bold';
  src: url('HurmeGeometricSans1-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hurme/HurmeGeometricSans1-Bold.otf')  format('opentype'),
	url('../fonts/hurme/HurmeGeometricSans1-Bold.woff') format('woff'),
  url('../fonts/hurme/HurmeGeometricSans1-Bold.ttf')  format('truetype'),
  url('../fonts/hurme/HurmeGeometricSans1-Bold.svg#HurmeGeometricSans1-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HurmeGeometricSans1-Light';
  src: url('HurmeGeometricSans1-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hurme/HurmeGeometricSans1-Light.otf')  format('opentype'),
  url('../fonts/hurme/HurmeGeometricSans1-Light.woff') format('woff'),
  url('../fonts/hurme/HurmeGeometricSans1-Light.ttf')  format('truetype'),
  url('../fonts/hurme/HurmeGeometricSans1-Light.svg#HurmeGeometricSans1-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HurmeGeometricSans1-Regular';
  src: url('../fonts/hurme/HurmeGeometricSans1-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/hurme/HurmeGeometricSans1-Regular.otf')  format('opentype'),
	url('../fonts/hurme/HurmeGeometricSans1-Regular.woff') format('woff'),
  url('../fonts/hurme/HurmeGeometricSans1-Regular.ttf')  format('truetype'),
  url('../fonts/hurme/HurmeGeometricSans1-Regular.svg#HurmeGeometricSans1-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}