@font-face {
  font-family: 'HurmeGeometricSans1-Bold';
  src: url('HurmeGeometricSans1-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hurme/HurmeGeometricSans1-Bold.otf')  format('opentype'),
	url('../fonts/hurme/HurmeGeometricSans1-Bold.woff') format('woff'),
  url('../fonts/hurme/HurmeGeometricSans1-Bold.ttf')  format('truetype'),
  url('../fonts/hurme/HurmeGeometricSans1-Bold.svg#HurmeGeometricSans1-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans/OpenSans-Bold.woff') format('woff'),
  url('../fonts/open-sans/OpenSans-Bold.ttf')  format('truetype'),
  url('../fonts/open-sans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans/OpenSans-Regular.woff') format('woff'),
  url('../fonts/open-sans/OpenSans-Regular.ttf')  format('truetype'),
  url('../fonts/open-sans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

