//Font size (REM)
@function calculate-rem($size) {
  $remSize: strip-unit($size / 16);
  @return #{$remSize}rem;
}

@mixin font-size($size) {
  font-size: $size; //Fallback in px
  font-size: calculate-rem($size);
}


//Transitions prefixer
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

//Transform prefixer
@mixin transform($value...) {
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}

//Form placeholder prefixer
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin background-button {
  background: rgba(255,204,0,1);
  background: -moz-linear-gradient(top, rgba(255,204,0,1) 0%, rgba(231,156,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,204,0,1)), color-stop(100%, rgba(231,156,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,204,0,1) 0%, rgba(231,156,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,204,0,1) 0%, rgba(231,156,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,204,0,1) 0%, rgba(231,156,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,204,0,1) 0%, rgba(231,156,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#e79c00', GradientType=0 );
}

@mixin background-footer-info {
  background: rgba(50,50,50,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(50,50,50,1) 0%, rgba(0,0,0,0.85) 75%, rgba(0,0,0,0.8) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(50,50,50,1)), color-stop(75%, rgba(0,0,0,0.85)), color-stop(100%, rgba(0,0,0,0.8)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(50,50,50,1) 0%, rgba(0,0,0,0.85) 75%, rgba(0,0,0,0.8) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(50,50,50,1) 0%, rgba(0,0,0,0.85) 75%, rgba(0,0,0,0.8) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(50,50,50,1) 0%, rgba(0,0,0,0.85) 75%, rgba(0,0,0,0.8) 100%);
  background: radial-gradient(ellipse at center, rgba(50,50,50,1) 0%, rgba(0,0,0,0.85) 75%, rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#000000', GradientType=1 );
}
