//Colors
$color-one: #ffcc00;
//$color-two: ;
//$color-three: ;

//Typography weight
//$text-light: 'HurmeGeometricSans1-Light', sans-serif;
$text-regular: 'Open Sans', sans-serif;
$text-special: 'HurmeGeometricSans1-Bold', sans-serif;



