.artistas-especifica {
    h4 {
        @include font-size(22);
        font-family: $text-bold;
        text-transform: uppercase;
    }

    p {
        line-height: 28px;
    }

    &__section-title {
        @media screen and (max-width: 991px){
            background: transparent;
            color: #000;
            padding: 0;
        }

        h2 {
            @media screen and (max-width: 991px){
                margin-bottom: 10px;
            }
        }

        span {
            @media screen and (max-width: 991px){
                position: relative;
                margin-bottom: 0;
                margin-left: 11px;
            }
        }
    }

    &__header-btn {
        padding: 10px 50px;
        margin: 40px 0 0 0;
        @include font-size(14);
        z-index: 0;

        @media screen and (max-width: 767px){
            display: none;
        }
    }

    &__form-box {
        padding-top: 0;

        &__text {
            font-family: $text-bold;
            @include font-size(14);
            
        }

        p {
            line-height: inherit;
        }
    }

    &__form {
        display: block;
        @media screen and (max-width: 991px){
            display: none;
        }

        &__header {
            display: flex;
            background: $color-one;
            margin-left: -25px;
            margin-right: -25px;
            padding: 10px 25px;
            align-items: center;
            position: relative;
            margin-bottom: 20px;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: -10px;
                right: -21px;
                width: 72px;
                height: 72px;
                background: url('../images/form-header_check.png') no-repeat;

                @media screen and (max-width: 991px){
                    display: none;
                }
            }

            h3 {
                margin-bottom: 0;
                text-transform: uppercase;
                font-family: $text-special;
                @include font-size(18);
            }
        }

        &__title {
            width: 70%;
            @media screen and (max-width: 575px){
                width: 50%;
            }
        }

        &__info {
            width: 30%;
            font-family: $text-bold;
            color: #946901;
            margin-right: 25px;
            @media screen and (max-width: 991px){
                margin-right: 0;
            }

            @media screen and (max-width: 575px){
                width: 50%;
            }
            
            p {
                @include font-size(14);
                text-align: right;
                line-height: inherit;
            }
        }
    }

    &__artista {
        margin: 135px 0 25px 0;
        @media screen and (max-width: 991px){
            margin-top: 170px;
        }
    }

    &__outras-opcoes {
        margin-top: 50px;

        &__title {
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 25px;
        }
    }

    &__nossos-servicos,
    &__galeria-fotos {
        @media screen and (max-width: 1199px){
            display: none;
        }
    }
}

.artista-video {
    &__wrap {
        margin-bottom: 50px;
    }

    &__social-media {
        display: flex;
        justify-content: flex-end;
        margin: 40px 0;
        flex-wrap: wrap;

        @media screen and (max-width: 767px){
            justify-content: flex-start;
        }

        @media screen and (max-width: 400px){
            margin-bottom: 10px;
        }

        &__wrap {
            display: flex;
            align-items: center;
            margin-left: 15px;

            @media screen and (max-width: 400px) {
                width: 25%;
                margin-left: 0;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &:first-child {
                margin-left: 0;
            }
        }

        &__circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 15px;
            background: #000;
            @include font-size(22);
            color: #fff;
            margin-right: 10px;
            @media screen and (max-width: 400px) {
                margin: 0;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__video-wrap {
        position: relative;
        line-height: 0;

        @media screen and (max-width: 575px){
            display: none;
        }
    }

    &__video {
        width: 100%;
        background: #000;
    }

    &__video-play {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        border: 5px solid $color-one;
        transform: translate(-50%, -50%);
        cursor: pointer;

        &:after {
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            @include font-size(24);
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            color: $color-one;
            background: url('../images/arrow.svg') no-repeat center center;
            background-size: contain;
        }
    }

    &__related-videos {

        &.slick-slider {
            margin: 10px 5px 0 5px;
        }

        &.slick-slider .slick-list {
            margin: 0 -10px 0 -10px;
        }

        .slick-dots li {
            width: 12px;
            height: 12px;
            border-radius: 50%;
        }
        
        .slick-dots li button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid grey;

            &:before {
                display: none;
            }
        }

        .slick-dots li.slick-active {
            background: $color-one;
        }

        &__item {
            height: 120px;
            background: #000;
            margin: 0 5px;

            @media screen and (max-width: 575px) {
                height: 0;
                padding-top: 7%;
            }
        }
    }
}

.artista-sobre {
    &__texto {
        h4 {
            margin-bottom: 15px;
        }
    }

    &__orcamento {
        display: none;
        @media screen and (max-width: 991px){
            display: block;
        }
    }

    &__orcamento-button {
        display: block;
        padding: 10px 50px;
        margin: 25px auto;
        @include font-size(14);
    }
}

.form-group__select-wrap {
    position: relative;
}

.form-box__select-menu {
    a {
        display: flex;
        align-items: center;
        background: #000;
        color: #fff;
        min-height: 40px;
        padding: 15px;

        &:hover {
            background: $color-one;
            color: #000;
        }
    }
}

.form-box__select {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
    transform: translatey(-10%);
    transition: .25s;
}

.form-box__select--active {
    visibility: visible;
    opacity: 1;
    transform: translatey(0);
}

.overlay-artista {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: rgba(0,0,0, .5);
    z-index: 9999;
}

.overlay-artista .container {
    position: absolute;
}