.home-content {
  margin-bottom: 50px;
  > .container {
    @media screen and (max-width: 991px) {
      overflow: hidden;
    }
  }
}

.home-content__wrap {
  @media screen and (max-width: 991px){
    margin-top: 20px;
  }
}

.home-content__artista-wrap-vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.home-clientes {
  margin-top: 50px;

  @media screen and (max-width: 1199px){
    display: none;
  }
}