/*
    Mesma folha de estilo para 
    as páginas particular.php
    e corporativo.php já que são
    quase idênticas

*/

main.servicos {
    @media screen and (max-width: 1199px){
        margin-top: 0;
    }
}

.particular {
    &__sobre {
        background: url('../images/particular_banner.jpg') no-repeat center center;
        background-size: cover;
        height: 970px;
        color: $color-two;

        @media screen and (max-width: 991px){
            height: auto;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &__content {
            margin-top: 135px;
        }

        .breadcrumb {
            @media screen and (max-width: 991px){
                display: none;
            }
        }
    }

    &__destaque {
        transform: translateY(-60px);
    }

    &__outros {
        margin-top: 100px;
        margin-bottom: 50px;

        &__btn {
            display: flex;

            @media screen and (max-width: 767px){
                flex-direction: column;
            }

            p {
                @include font-size(24);
                font-family: $text-bold;
                text-transform: uppercase;

                > a {
                    @include font-size(24);
                }
            }

            > div {
                width: 50%;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 767px){
                    width: 100%;
                }
            } 
        }

        &__btn-cases {
            @include bg-btn-primary;

            > p > a {
                color: $color-two;
                &:hover {
                    color: #000;
                }
            }
        }

        &__btn-fotos {
            background: #000;
            color: #fff;

            > p > a {
                color: $color-one;
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &__galeria {
        @media screen and (max-width: 991px){
            display: none;            
        }
    }
}

.corporativo {
    &__sobre {
        background: url('../images/corporativo_banner.jpg') no-repeat center center;
        background-size: cover;
    }
}