/*
    Mesma folha de estilo para 
    as páginas particular.php
    e corporativo.php já que são
    quase idênticas
*/

main.servicos {
    @media screen and (max-width: 1199px){
        margin-top: 0;
    }
}

.particular {
    &__banner {
        background: url('../images/particular_banner.jpg') no-repeat center center;
        background-size: cover;
        min-height: 600px;
        color: $color-two;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: 991px){
            height: auto;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        > .container {
            min-height: 600px;
        }

        &__content {
            min-height: 600px;
            position: relative;
            display: flex;
            align-items: center;
            //border: 1px solid red;

            &__chamada{
                position: absolute;
                right: 0;
                //border: 1px solid red;

                &__header {
                    @include font-size(30);
                    font-family: $text-special;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    letter-spacing: .1pt;
                }

                &__header--kerning {
                    letter-spacing: .5pt;
                }

                &__header-big {
                    @include font-size(50);
                    font-family: $text-special;
                    text-transform: uppercase;
                    color: $color-one;
                    letter-spacing: 1pt;
                }

                &__header-big-variation {
                    @include font-size(42);
                    letter-spacing: 1.1pt;
                }

                &__text {
                    text-align: center;
                    @include font-size(18);
                    padding-right: 13px;
                    margin-top: 50px;
                }

                &__dot {
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    margin: 0 8px; 
                    background: $color-one;
                    border-radius: 50%;
                    transform: translateY(-2px);
                }
            }

            &__link {
                position: absolute;
                bottom: 50px;
                left: 50%;
                transform: translateX(-50%);

                > a {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: $text-bold;
                    color: #fff;

                    &:hover {
                        color: $color-one;
                    }

                    > img {
                        width: 17px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    &__sobre {
        margin: 130px 0;

        &__texto {
            &__header {
                @include font-size(22);
                font-family: $text-bold;
                line-height: 30px;
                margin-bottom: 25px;
            }

            &__paragraph {
                @include font-size(18);
                line-height: 30px;
            }
        }

        &__accordion__info {
            &__text {
                font-family: $text-bold;
                font-style: italic;
                margin-bottom: 25px;
            }
        }
    }

    &__video {
        margin: 150px 0;

        &__wrap {
            position: relative;
            height: 0;
            padding-top: 56.25%;
            background: #dfdfdf;
            //border: 1px solid red;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50px;
                height: 50px;
                background: url('../images/arrow.svg') no-repeat center center;
                background-size: contain;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__outros {
        margin-top: 100px;
        margin-bottom: 50px;

        &__btn {
            display: flex;

            @media screen and (max-width: 767px){
                flex-direction: column;
            }

            p {
                @include font-size(24);
                font-family: $text-bold;
                text-transform: uppercase;

                > a {
                    @include font-size(24);
                }
            }

            > div {
                width: 50%;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 767px){
                    width: 100%;
                }
            } 
        }

        &__btn-cases {
            @include bg-btn-primary;

            > p > a {
                color: $color-two;
                &:hover {
                    color: #000;
                }
            }
        }

        &__btn-fotos {
            background: #000;
            color: #fff;

            > p > a {
                color: $color-one;
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &__galeria {
        @media screen and (max-width: 991px){
            display: none;            
        }
    }
}

.corporativo {
    &__banner {
        background: url('../images/corporativo_banner.jpg') no-repeat center center;
        background-size: cover;
    }
}