.banner-cortado {
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        background: url(../images/banner-cut.svg) no-repeat bottom left;
        background-size: 120%;
        width: 100%;
        height: 33px;
    }
}