.banner-cortado {

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 50%;
        background:#f8f8f8;
        width: 120%;
        height: 30px;
        transform: translateX(-50%) rotateZ(-1deg);
    }
}