.card-box {
    //border: 1px solid red;
    margin-bottom: 100px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    &__item {
        display: block;
        width: 24%;
        padding: 25px;
        background: #fff;
        border-bottom: 2px solid $color-one;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        transition: .25s;
        margin-bottom: 50px;
        position: relative;

        @media screen and (max-width: 991px){
            padding: 15px;
        }

        @media screen and (max-width: 767px){
            width: 49%;
            padding: 20px;
        }

        @media screen and (max-width: 575px){
            display: flex;
            width: 100%;
            height: 150px;
            padding: 15px;
            border-bottom: none;
            border-right: 2px solid $color-one;
            margin-bottom: 10px;
        }

        &:hover {
            box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
        }
    }

    &__image {
        width: 100%;
        padding-top: 100%;
        margin-bottom: 20px;
        position: relative;
        background: #efefef;
        @media screen and (max-width: 575px){
            width: 120px;
            padding-top: 120px;
            margin-right: 15px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__text {
        height: 160px;
        color: #000;
        @include font-size(18);
        line-height: 26px;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: clip;
        @media screen and (max-width: 575px){
            width: calc(100% - 120px);
            height: 100px;
            padding-right: 10px;
        }

        > p {
            text-overflow: clip;
            @media screen and (max-width: 991px){
                @include font-size(14);
                line-height: 20px;
            }
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 575px){
            //border: 1px solid red;
            width: 20px;
            transform: rotatez(-90deg);

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                width: 2px;
                height: 10px;
                background: $color-one;
            }

            &:before {
                transform: rotatez(45deg) translatey(-50%);
            }

            &:after {
                transform: rotatez(-45deg) translatey(-50%);
            }
        }

        > button {
            width: 300px;
            @media screen and (max-width: 991px){
                width: 200px;
            }
            @media screen and (max-width: 575px){
                display: none;
            }
        }
    }
}


// .vertical .card-box {
//     &__wrap {
//         //flex-direction: column;
//     }

//     &__item {
//         width: 23%;
//         height: auto;
//         border-right: 0;
//         border-bottom: 2px solid $color-one;
//         padding: 35px;
//     }

//     &__image {
//         width: 100%;
//         //border: 1px solid red;
//         margin-bottom: 20px;
//     }
// }
