.chamada-destaque {
    &__wrap {
        position: relative;
        min-height: 240px;
    }

    &__rotated {
        width: 120%;
        background: url('../images/textura-estrela.svg'), $color-one;
        background-position: 0 -50px;
        position: absolute;
        left: 50%;
        transform: translatex(-50%) rotatez(-1deg);
        min-height: 240px;
        display: flex;
        align-items: center;
    }

    &__text {
        text-align: center;
        @include font-size(30);
        font-family: $text-bold;
        font-style: oblique;
        transform: rotateZ(1deg);
        max-width: 760px;
        margin: auto;
        padding: 20px 0;
        width: 80%;
    }

    &__text-menor {
        @include font-size(26);
        font-style: inherit;

        > a {
            @include font-size(26);
            color: #fff;

            &:hover {
                color: #000;
            }
        }
    }   
}