.form-box {
    padding: 25px;
    border: 2px solid $color-one;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

    > p {
        margin-bottom: 20px;
    }

    &__form {
        padding: 5px;
    }

    &__wrap {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
    }

    &__input {
        z-index: 2;
        border-bottom: 2px solid #000;
        @include font-size(18);
        padding-top: 10px;

        &--select {
            cursor: pointer;
        }

        &--isvalid {
            background: url(../images/check.svg) no-repeat right center;
            background-size: 20px;
        }

        &:valid {
            border-bottom: 2px solid $color-one;
            background: url(../images/check.svg) no-repeat right center;
            background-size: 20px;
        }

        &:valid ~ .form-box__bar:before {
            background: $color-one; 
        }

        &:focus ~ .form-box__label,
        &.used ~ .form-box__label {
            top: 0;
            color: #000;
            @include font-size(10);
            font-family: $text-bold;
            transform: translateY(0);
        }

        &:focus ~ .form-box__label-textarea,
        &.used ~ .form-box__label-textarea {
            top: -2px;
        }

        &:valid ~ .form-box__label,
        &:valid.used ~ .form-box__label {
            color: #000;
        }

        &:focus ~ .form-box__bar:before,
        &.used ~ .form-box__bar:before {
            width: 100%;
            right: 0;
        }
    }

    &__label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include font-size(18);
        transition: .5s ease all;
        pointer-events: none;
    }

    &__label-textarea {
        top: 20px;
    }

    &__bar {
        position: relative;
        display: block;
        width: 100%;

        &:before {
            content: '';
            height: 2px;
            width: 0;
            right: 100%;
            bottom: 0;
            position: absolute;
            background: $color-one;
            transition: .5s;
        }
    }
    
    button {
        display: block;
        @include font-size(14);
        padding: 10px 50px;
        margin: 50px auto;
    }
}