.header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transform: translatey(0);
  transition: 0.5s;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  color: #fff;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.70);
  @include bg-header-gradient;
  z-index: 1;

  @media screen and (max-width: 1199px){
    height: 133px;
  }

  >.container {
    position: relative;
    height: 100%;

    .row {
      height: 100%;
    }
  }

  &-brand {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px){
      margin-bottom: 10px;
    }

    .header-menu-btn {
      width: 40px;
      height: 40px;
      position: relative;
      padding: 0;
      background: transparent;
      cursor: pointer;
      border: 0;
      display: inline-block;
      transform: translatey(2px);

      &__bar {
        display: block;
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 3px;
        transition: .25s;

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          width: 30px;
          height: 3px;
          background: #fff;
          border-radius: 3px;
          transform: translatey(-8px);
          transition: .25s;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          width: 30px;
          height: 3px;
          background: #fff;
          border-radius: 3px;
          transform: translatey(8px);
          transition: .25s;
        }
      }

      &__bar--on {
        background: transparent;

        &:before {
          background: #ffcd00;
          transform: rotate(45deg);
        }

        &:after {
          background: #ffcd00;
          transform: rotate(-45deg);
        }
      }
    }

    > a {
      display: inline-block;
      margin-left: 10px;
      line-height: 0;
    }

    img {
      width: 270px;
      transform: translatey(-2px);

      @media screen and (max-width: 320px){
        width: 250px;
      }
    }
  }

  &-search {
    visibility: hidden;

    @media screen and(max-width: 1199px){
      visibility: visible;
      position: relative;
      z-index: 2;
      height: 50px;
    }

    &__form {
      width: 350px;
      position: relative;
      margin: 0 auto;

      @media screen and (max-width: 1199px){
        width: 100%;
      }
    }

    &__input {
      width: 100%;
      height: 32px;
      padding: 0 47px 0 15px;
      @include font-size(15);
      font-weight: 700;
      color: #1e1e1e;
      @include placeholder {
        @include font-size(15);
        color: #1e1e1e;
      }

      @media screen and (max-width: 1199px){
        height: 50px;
      }
    }

    &__btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 32px;
      border: 0;
      cursor: pointer;
      @include bg-btn-primary;

      @media screen and (max-width: 1199px){
        width: 50px;
        height: 50px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url("images/search-icon.svg") no-repeat center center;
        background-size: 20px;
        width: 100%;
        height: 100%;
      }

      &--on {
        background: #000 !important;

        &:after {
          background: url("images/search-icon-white.svg") no-repeat center center;
          background-size: 20px;
        }
      }
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;

    @media screen and (max-width: 1199px){
      text-align: center;
      display: none;
    }

    &__atendimento {
      @include font-size(14);
      letter-spacing: -0.2pt;
      margin: 0 0 5px 0;

      @media screen and (max-width: 575px){
        width: 215px;
        margin: 0 auto 10px auto;
        @include font-size(16);
      }
    }

    &__telefones {
      @include font-size(20);
      font-family: $text-bold;
      margin: 0;

      @media screen and (max-width: 575px){
        width: 200px;
        margin: auto;
        @include font-size(24);
      }
    }
  }
}

//Navigation bar
.nav-menu {

  &__wrap {
    position: absolute;
    width: 100%;
    transform: translatey(60px);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    z-index: -1;

    @media screen and (max-width: 1199px){
      z-index: 2;
      background: #ffd61b;
      padding-top: 10px;
      display: none;
    }

    > .container {
      @media screen and (max-width: 1199px){
        max-width: 100%;
        position: relative;
      }
    }
  }

  &__menu {
    height: 35px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 9px 50px;
    background: #ffcd00;
    background: -moz-linear-gradient(-45deg, #ffcd00 0%, #db8a06 100%);
    background: -webkit-linear-gradient(-45deg, #ffcd00 0%,#db8a06 100%);
    background: linear-gradient(135deg, #ffcd00 0%,#db8a06 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd00', endColorstr='#db8a06',GradientType=1 );
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .25);

    @media screen and (max-width:1199px){
      height: auto;
      border-radius: 0;
      background: #ffd61b;
      padding: 10px 10px 0 10px;
      margin-right: -15px;
      margin-left: -15px;
      box-shadow: none;
    }
  }

  &--on {
    visibility: visible;
    transform: translatey(75px);
    opacity: 1;

    @media screen and (max-width: 1199px){
      transform: translatey(56px);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1199px){
      flex-direction: column;
      margin: 5px 0 20px 0;
    }

    li:last-child {
      @media screen and (max-width: 1199px){
        border-bottom: 1px solid #fecd0f;
      }
    }
  }

  &__links {
    text-transform: uppercase;
    font-family: $text-bold;
    text-decoration: none;
    color: #000;
    @include font-size(15);
    transition: .25s;

    @media screen and (max-width: 1199px){
      text-align: center;
      width: 100%;
      display: block;
      padding: 15px 0;
      border-top: 1px solid #fecd0f;
      @include font-size(18);
    }

    &:hover {
      color: #fff;
    }
  }
}

.header-fixed-appear {
  transform: translatey(-65px);
}

.header-fixed {
  position: fixed;
  width: 100%;
  transform: translatey(0);
  transition: 0.5s;
}

.header-search--on {
  visibility: visible;
  display: flex;
  align-items: center;
}