.header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transform: translatey(0);
  transition: 0.5s;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  color: #fff;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.70);
  @include bg-header-gradient;
  z-index: 1;

  >.container {
    position: relative;
  }

  &-brand {
    display: flex;
    margin-top: 15px;

    .header-menu-btn {
      width: 40px;
      height: 40px;
      position: relative;
      padding: 0;
      background: transparent;
      cursor: pointer;
      border: 0;
      display: inline-block;
      transform: translatey(5px);

      span {
        display: block;
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 3px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 12px;
          left: 0;
          width: 30px;
          height: 3px;
          background: #fff;
          border-radius: 3px;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 11px;
          left: 0;
          width: 30px;
          height: 3px;
          background: #fff;
          border-radius: 3px;
        }
      }
    }


    > a {
        display: inline-block;
        margin-left: 10px;
    }

    img {
      width: 270px;
      transform: translatey(7px);
    }
  }

  &-search {
    visibility: hidden;

    &__form {
      width: 350px;
      position: relative;
      transform: translatey(18px);
      margin: auto;
    }

    &__input {
      width: 100%;
      height: 32px;
      padding: 0 47px 0 15px;
      color: #1e1e1e;
      @include placeholder {
        color: #1e1e1e;
      }
    }

    &__btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 32px;
      border: 0;
      cursor: pointer;
      @include bg-btn-primary;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.30);
        width: 100%;
        height: 50%;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../images/search-icon.svg") no-repeat center center;
        background-size: 20px;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-info {
    text-align: right;
    margin-top: 17px;

    &__atendimento {
      @include font-size(13);
      margin: 0 0 5px 0;
    }

    &__telefones {
      @include font-size(20);
      font-family: $text-bold;
      margin: 0;
    }
  }
}

.header-menu-wrap {
  position: absolute;
  width: 100%;
  transform: translatey(60px);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  z-index: -1;

  .header-menu {
    display: flex;
    height: 35px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 9px 50px;
    justify-content: space-between;
    background: #ffcd00;
    background: -moz-linear-gradient(-45deg, #ffcd00 0%, #db8a06 100%);
    background: -webkit-linear-gradient(-45deg, #ffcd00 0%,#db8a06 100%);
    background: linear-gradient(135deg, #ffcd00 0%,#db8a06 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd00', endColorstr='#db8a06',GradientType=1 );
  }

  .header-menu__links {
    text-transform: uppercase;
    font-family: $text-bold;
    text-decoration: none;
    color: #000;
    @include font-size(16);
    transition: .25s;

    &:hover {
      color: #fff;
    }
  }
}

.header-fixed-appear {
  transform: translatey(-65px);
}

.header-fixed {
  position: fixed;
  width: 100%;
  transform: translatey(0);
  transition: 0.5s;
}

.header-search--on {
  visibility: visible;
}

.header-menu--on {
  visibility: visible;
  transform: translatey(75px);
  opacity: 1;
}