.home-banner {
  position: relative;
  width: 100%;
  height: 450px;
  margin-bottom: 25px;
  color: #fff;
<<<<<<< HEAD
  background: #000 url('../images/header_banner.jpg') no-repeat center center;
=======
  background: #000 url('images/header_banner.jpg') no-repeat center center;
>>>>>>> Ultimo update com above the fold e ajustes nas fontes
  background-size: cover;

  @media screen and (max-width: 1199px){
    display: none;
  }

  >.container {
    position: relative;
    height: 100%;
  }

  &__chamada {
    @include font-size(28);
    transform: translatey(150px);
    font-family: $text-regular;
    text-align: center;
    line-height: 32px;
  }

  &__highlight-text {
    color: $color-one;
<<<<<<< HEAD
    font-weight: 700;
=======
    font-family: $text-bold;
>>>>>>> Ultimo update com above the fold e ajustes nas fontes
  }

  &__search-field {
    margin: 180px auto 0 auto;
    position: relative;
    max-width: 770px;
  }

  &__search-input {
    width: 100%;
    height: 50px;
    position: relative;
    border: 0;
<<<<<<< HEAD
    background: url('../images/search-icon.svg') no-repeat rgba(255, 255, 255, 0.8) 20px center;
=======
    background: url('images/search-icon.svg') no-repeat rgba(255, 255, 255, 0.8) 20px center;
>>>>>>> Ultimo update com above the fold e ajustes nas fontes
    background-size: 30px;
    font-weight: 700;
    padding-left: 70px;
    padding-right: 170px;
    @include font-size(18);

    @include placeholder {
      font-family: $text-regular;
      font-weight: 400;
      color: #000;
      opacity: 1;
      @include font-size(18);
      transform: translatey(-1px);
    }
  }

  &__search-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 0 20px;
    height: 50px;
    font-weight: 700;
    @include font-size(20);
    text-transform: uppercase;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 50%;
      background: rgba(255, 255, 255, 0.25);
    }
  }

  &__filtros {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: space-between;
    transform: translatex(-50%);

    a {
      display: block;
      width: 16.6%;
      text-align: center;
      text-transform: uppercase;
<<<<<<< HEAD
      font-weight: 700;
=======
      font-family: $text-bold;
>>>>>>> Ultimo update com above the fold e ajustes nas fontes
      color: #fff;
      text-decoration: none;
      padding: 20px 0;
      @include font-size(14);
      transition: color 0.25s;

      &:hover {
        color: $color-one;

        > img {
          transform: scale(1.2);
        }
      }
    }

    img {
      display: block;
      margin: 0 auto 5px auto;
      height: 75px;
      transition: .5s;
    }
  }
}