.home-clientes {
    margin-top: 50px;

    > h2 {
        color: #fff;
        @include font-size(14px);
        text-transform: uppercase;
        background: #000;
        padding: 6px;
        text-align: center;
        font-family: $text-bold;
    }
}