.infografico {
    &__wrap {
        display: flex;
    }

    &__estrela {
        width: 65%;
        position: relative;
        margin-top: 75px;

        &__info {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            font-style: oblique;
            line-height: 26px;
            font-family: $text-bold;
        }

        img {
            display: block;
            width: 330px;
            margin: auto;
        }

        &__box {
            position: absolute;
            width: 300px;
            padding: 20px;
            border: 2px solid $color-one;
            border-radius: 3px;
            background: #161616;
            transform: translatey(-50px);
            z-index: 10;
            opacity: 0;
            visibility: hidden;

            p {
                @include font-size(14);

            }
        }

        &__box01 {
            right: -100%;
            top: 0;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(0, -85px);

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: -18px;
                top: 50%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%);
            }
        }

        &__box02 {
            right: -100%;
            top: -20px;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(0, -75px);

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50px;
                bottom: -30px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%) rotatez(-90deg);
            }

        }

        &__box03 {
            right: -100%;
            top: 0;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(0, -15px);

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50px;
                bottom: -30px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%) rotatez(-90deg);
            }
        }

        &__box04 {
            right: -100%;
            bottom: -100%;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(0, -100px);

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50px;
                top: -10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%) rotatez(90deg);
            }
        }

        &__box05 {
            left: -50%;
            bottom: -100%;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(0, -100px);

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 100px;
                top: -10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%) rotatez(90deg);
            }

        }

        &__box06 {
            left: -50%;
            top: 0;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(-20px, -80px);

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 100px;
                bottom: -30px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%) rotatez(-90deg);
            }

        }

        &__inner-wrap {
            position: relative;
            width: 300px;
            margin: 40px auto 0 23%;

            a {
                &:hover {
                    div {
                        background: $color-one;
                        color: #000;
                    }
                }
            }
        }

        &__button {
            position: absolute;
            display: flex;
            align-items: center;
            color: #fff;

            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                background: #000;
                color: #fff;
                font-family: $text-bold;
                border-radius: 50%;
                margin: 15px;
                transition: .25s;
            }
        }

        &__button-01 {
            left: 50%;
            transform: translate(-18px, -25px);

            &:hover ~ .infografico__estrela__box01 {
                opacity: 1;
                visibility: visible;
            }

            &__text {
                transform: translate(-62px, -40px);
            }
        }

        &__button-02 {
            right: 0;
            transform: translate(140px, 90px);

            &:hover ~ .infografico__estrela__box02 {
                opacity: 1;
                visibility: visible;
            }
        }

        &__button-03 {
            right: 0;
            transform: translate(130px, 162px);

            &:hover ~ .infografico__estrela__box03 {
                opacity: 1;
                visibility: visible;
            }

        }

        &__button-04 {
            right: 0;
            transform: translate(150px, 275px);

            &:hover ~ .infografico__estrela__box04 {
                opacity: 1;
                visibility: visible;
            }

        }

        &__button-05 {
            left: 0;
            transform: translate(25px, 275px);

            &:hover ~ .infografico__estrela__box05 {
                opacity: 1;
                visibility: visible;
            }


            &__text {
                transform: translate(-170px, 0px);
            }
        }

        &__button-06 {
            left: 0;
            transform: translate(-20px, 90px);

            &:hover ~ .infografico__estrela__box06 {
                opacity: 1;
                visibility: visible;
            }


            &__text {
                transform: translate(-138px, 0px);
            }
        }
    }

    &__texto {
        width: 35%;
        line-height: 36px;
        margin-top: 75px;
        padding-left: 50px;

        > h4 {
            @include font-size(20);
            font-family: $text-bold;
            margin-bottom: 30px;
        }

        > p {
            @include font-size(18);
        }

        &--toleftside {
            padding-left: 0;
            padding-right: 50px;
        }
    }
}

#teste {
    width: 300px;
    height: 150px;
    border: 2px solid red;
    opacity: 0;
    display: none;
}