@charset "UTF-8";

.infografico {
    &__wrap {
        display: flex;

        @media screen and (max-width: 991px){
            flex-direction: column;
        }
    }

    &__estrela {
        width: 65%;
        position: relative;
        margin-top: 75px;

        @media screen and (max-width: 991px) {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 100px;
            margin-top: 0;
        }

        &__info {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            font-style: oblique;
            line-height: 26px;
            font-family: $text-bold;

            @media screen and (max-width: 991px) {
                position: static;
                color: $color-two;
            }
        }

        img {
            display: block;
            width: 330px;
            margin: auto;
        }

        &__box {
            position: absolute;
            width: 300px;
            padding: 20px;
            border: 2px solid $color-one;
            border-radius: 3px;
            background: #161616;
            transform: translatey(-50px);
            z-index: 10;
            opacity: 0;
            visibility: hidden;

            @media screen and (max-width: 991px){
                position: static;
                width: 100%;
                border: 0;
                border-radius: unset;
                background: unset;
                transform: unset;
                z-index: unset;
                opacity: 0;
                color: $color-two;
                visibility: hidden;
                padding: 0;
                padding-left: 50px;
                margin-bottom: 0;
                transition: .5s;
                height: 0px;
            }

            p {
                @include font-size(14);
            }
        }

        &__box01 {
            right: -100%;
            top: 0;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(0, -85px);

            @media screen and (max-width: 991px){
                opacity: 0;
                visibility: hidden;
                transform: unset;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: -18px;
                top: 50%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%);

                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
        }

        &__box02 {
            right: -100%;
            top: -20px;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(0, -75px);

            @media screen and (max-width: 991px) {
                opacity: 1;
                transform: unset;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50px;
                bottom: -30px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%) rotatez(-90deg);

                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
        }

        &__box03 {
            right: -100%;
            top: 0;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(0, -15px);

            @media screen and (max-width: 991px) {
                opacity: 1;
                transform: unset;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50px;
                bottom: -30px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%) rotatez(-90deg);

                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
        }

        &__box04 {
            right: -100%;
            bottom: -100%;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(0, -100px);

            @media screen and (max-width: 991px) {
                opacity: 1;
                transform: unset;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50px;
                top: -10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%) rotatez(90deg);

                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
        }

        &__box05 {
            left: -50%;
            bottom: -100%;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(0, -100px);

            @media screen and (max-width: 991px) {
                opacity: 1;
                transform: unset;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 100px;
                top: -10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%) rotatez(90deg);

                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
        }

        &__box06 {
            left: -50%;
            top: 0;
            opacity: 0;
            transition: opacity .5s;
            transform: translate(-20px, -80px);

            @media screen and (max-width: 991px) {
                opacity: 1;
                transform: unset;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 100px;
                bottom: -30px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 17.3px 10px 0;
                border-color: transparent $color-one transparent transparent;
                transform: translate(0, -50%) rotatez(-90deg);

                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
        }

        &__inner-wrap {
            position: relative;
            width: 300px;
            margin: 40px auto 0 23%;

            @media screen and (max-width: 991px) {
                width: 100%;
                margin: 0;
                margin-top: 50px;

                img {
                    display: none;
                }
            }

            a {
                &:hover {
                    div {
                        background: $color-one;
                        color: #000;
                    }
                }
            }
        }

        &__button {
            position: absolute;
            display: flex;
            align-items: center;
            color: #fff;

            @media screen and (max-width: 991px) {
                position: relative;
                margin-bottom: 15px;
            }

            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                background: #000;
                color: #fff;
                font-family: $text-bold;
                border-radius: 50%;
                margin: 15px;
                transition: .25s;

                @media screen and (max-width: 991px) {
                    background: $color-one;
                    margin: 0;
                    margin-right: 15px;
                }
            }
        }

        &__button-01 {
            left: 50%;
            transform: translate(-18px, -25px);

            @media screen and (max-width: 991px) {
                transform: unset;
                left: 0;
            }

            @media screen and (min-width: 992px){
                &:hover ~ .infografico__estrela__box01 {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &__text {
                transform: translate(-62px, -40px);
            }
        }

        &__button-02 {
            right: 0;
            transform: translate(140px, 90px);

            @media screen and (max-width: 991px) {
                transform: unset;
            }

            @media screen and (min-width: 992px){
                &:hover ~ .infografico__estrela__box02 {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__button-03 {
            right: 0;
            transform: translate(130px, 162px);

            @media screen and (max-width: 991px) {
                transform: unset;
            }

            @media screen and (min-width: 992px){
                &:hover ~ .infografico__estrela__box03 {
                    opacity: 1;
                    visibility: visible;
                }
            }

        }

        &__button-04 {
            right: 0;
            transform: translate(150px, 275px);

            @media screen and (max-width: 991px) {
                transform: unset;
            }

            @media screen and (min-width: 992px){
                &:hover ~ .infografico__estrela__box04 {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__button-05 {
            left: 0;
            transform: translate(25px, 275px);

            @media screen and (max-width: 991px) {
                transform: unset;
            }

            @media screen and (min-width: 992px){
                &:hover ~ .infografico__estrela__box05 {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &__text {
                transform: translate(-170px, 0px);

                @media screen and (max-width: 991px) {
                    transform: unset;
                }
            }
        }

        &__button-06 {
            left: 0;
            transform: translate(-20px, 90px);

            @media screen and (max-width: 991px) {
                transform: unset;
            }

            @media screen and (min-width: 992px){
                &:hover ~ .infografico__estrela__box06 {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &__text {
                transform: translate(-138px, 0px);

                @media screen and (max-width: 991px) {
                    transform: unset;
                }
            }
        }
    }

    &__texto {
        width: 35%;
        line-height: 36px;
        margin-top: 75px;
        padding-left: 50px;

        @media screen and (max-width: 991px) {
            width: 100%;
            padding-left: 0;
        }

        > h4 {
            @include font-size(20);
            font-family: $text-bold;
            margin-bottom: 30px;
        }

        > p {
            @include font-size(18);
        }

        &--toleftside {
            padding-left: 0;
            padding-right: 50px;

            @media screen and (max-width: 991px){
                padding-right: 0;
            }
        }

        &--toright {
            order: 2;

            @media screen and (max-width: 991px){
                order: 0;
            }
        }
    }
}

// #teste {
//     width: 300px;
//     height: 150px;
//     border: 2px solid red;
//     opacity: 0;
//     display: none;
// }


@media screen and (max-width: 991px){
    .close .infografico__estrela__box {
        visibility: hidden;
        opacity: 0;
        height: 0;
        //transform: scaley(0);
        //transform-origin: top center;
        transition: .5s;
    }
    
    .open .infografico__estrela__box {
        visibility: visible;
        opacity: 1;
        height: auto;
        margin-bottom: 50px;
        //transform: scaley(1);
        //transform-origin: top center;
        transition: .5s;
    }

    .close .infografico__estrela__button__arrow {
        position: absolute;
        top: 50%;
        right: 0;
        width: 10px;
        height: 10px;
        transform: translateY(-50%);
    
        &:before {
            content: '▶';
            display: flex;
            width: 15px;
            height: 15px;
            color: $color-one;
            text-align: center;
            align-items: center;
            transform-origin: center center;
            transition: .5s;
        }
    }
    
    .open .infografico__estrela__button__arrow {
        position: absolute;
        top: 50%;
        right: 0;
        width: 10px;
        height: 10px;
        transform: translateY(-50%);
    
        &:before {
            content: '▶';
            display: flex;
            width: 15px;
            height: 15px;
            color: $color-one;
            text-align: center;
            transform-origin: center center;
            transform: rotatez(90deg);
            align-items: center;
            transition: .5s;
        }
    }
}
