.sidebar-wrap--isactive {
  height: 100%;
  position: absolute;
}

.sidebar {
  @media screen and (max-width: 991px){
    position: absolute;
    opacity: 0;
    right: -90%;
    z-index: 10;
    background: #fff;
    padding: 20px;
    width: 90%;
    padding-top: 85px;
    transition: right .5s, opacity .5s;;
    height: 100%;
    margin-top: 2px;

    &--active {
      right: 0;
      opacity: 1;
    }
  }

  &-stats {
    @include font-size(22);
    margin-bottom: 25px;

    @media screen and (max-width: 991px){
      display: none;
    }

    &__number {
      font-family: $text-bold;
    }
  }

  &-search {
    margin-bottom: 25px;
    @media screen and (max-width: 991px){
      display: none;
    }

    &__input {
      border: 1px solid #acacac;
      width: 260px;
      height: 42px;
      padding: 0 10px;
      background: url('../images/search-icon.svg') no-repeat 95% center;
      background-size: 14px;
      @include font-size(16);
      @include placeholder {
        font-family: $text-regular;
        @include font-size(16);
        color: #b6b6b6;
      }
    }
  }

  &-categorias {
    h3 {
      display: none;
    }

    &__checkbox {
      display: flex;
      margin-bottom: 10px;

      >input {
        width: 20px;
        height: 20px;
      }

      .styled-checkbox {
        position: absolute;
        opacity: 0;

        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
          @include font-size(16);
        }

        & + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 20px;
          height: 20px;
          background: white;
          border: 1px solid #000;
          transition: .5s;
        }

        &:hover + label:before {
          border: 1px solid $color-one;
        }

        &:checked + label:before {
          background: $color-one;
          border: 0;
        }

        &:checked + label:after {
          content: '';
          position: absolute;
          left: 5px;
          top: 9px;
          background: white;
          width: 2px;
          height: 2px;
          box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 5;
}