.contato {
    &__breadcrumb {
        margin-top: 25px;
    }

    p {
        line-height: 28px;
    }

    h4 {
        @include font-size(20);
        font-family: $text-bold;
    }

    &__banner {
        height: 450px;
        background: url('../images/contato_banner.jpg') no-repeat center center;
        background-size: cover; 
    }

    &__text {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &__social {
        margin-top: 60px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;

        a {
            color: #000;

            &:hover {
                color: $color-one;
            }
        }

        i {
            font-size: 40px;
        }
    }

    &__endereco {
        margin-bottom: 50px;

        &__texto {
            @include font-size(14);
            font-style: inherit;
            line-height: 28px;
        }
    }

    &__endereco__title,
    &__telefone__title {
        @include font-size(18);
        font-family: $text-bold;
        margin-bottom: 10px;
    }

    &__telefone p {
        @include font-size(14);
    }

    &__email-img {
        margin-top: 50px;
    }

    &__email {
       margin-bottom: 50px ;

       &__box {
           margin-bottom: 50px;
       }

       &__title {
           @include font-size(18);
           font-family: $text-bold;
           margin-bottom: 15px;
           border-bottom: 1px solid #000;
       }

       &__text {
           @include font-size(14);

           &--break {
               margin-bottom: 20px;
           }
       }
   }

   &__nossos-clientes {
       margin-bottom: 50px;
   }

   &__form-box {
       max-width: 500px;
   }

   &__icons {
       width: 52px;
       margin-bottom: 15px;
   }
}