.footer {
  margin-top: 50px;
  background: #000;
  color: #fff;

  &-news {
    border-bottom: 3px solid $color-one;
    height: 185px;
    

    &__cadastro {
      margin-top: 45px;

      p {
        @include font-size(14px);
      }

      > h4 {
        color: $color-one;
        font-family: $text-bold;
        margin-top: 7px;
        @include font-size(18px);
      }
    }

    &__form {
      font-size: inherit;
      width: 430px;
      display: flex;
      margin-top: 26px;
    }

    &__form-email {
      width: 340px;
      height: 30px;
      font-family: $text-regular;
      padding: 0 10px;
      outline: 0;
      display: block;
      border: 0;
      @include font-size(14px);
      @include placeholder {
        @include font-size(14px);
        opacity: 1;
        color: #000;
        font-family: $text-regular;
      }
    }

    &__form-btn {
      height: 30px;
      padding: 0 10px;
      position: relative;
      @include background-button;
      border: 0;
      font-family: $text-bold;
      text-transform: uppercase;
      @include font-size(12px);
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: rgba(255, 255, 255, 0.30);
      }
    }

    &__microfone {
      position: relative;
      width: 123px;
      height: 175px;
      transform: translatey(7px);

      &-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        z-index: -2;
        @include footer-news-gradient-bg;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -20px;
        left: -220px;
        width: 265px;
        height: 170px;
        background: url('../images/footer-onda.svg') no-repeat;
        background-size: 265px;
        z-index: -1;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 123px;
        height: 175px;
        background: url('../images/microfone.png') no-repeat;
        background-size: 100%;
      }
    }
  }

  /*End of footer-news*/

  &-info {
    overflow: hidden;

    >.container {
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 600px;
        height: 600px;
        position: absolute;
        bottom: -350px;
        left: -150px;
        @include background-footer-info;
      }
    }
  }

  &-brand-wrap {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  &-brand {
    img {
      width: 327px;
    }
  }

  &-social-media {
    text-align: right;

    > a {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      color: #fff;
      text-decoration: none;
      @include font-size(25px);
      transition: .25s;

      &:hover {
        color: $color-one;
      }
    }
  }

  &-about {
    p {
      @include font-size(14px);
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      strong {
        font-family: $text-bold;
      }
    }
  }

  &-resume {
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 50px;
    @include font-size(12px);

    h4 {
      margin-bottom: 5px;
    }

    ul {
      list-style: none;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-family: $text-bold;
      line-height: 20px;
      transition: color 0.25s;

      &:hover {
        color: $color-one;
      }
    }

    &__atracao-columns{
      display: flex;

      ul {
        width: 50%;
      }
    }

    &__teste {
      display: flex;
    }

    &__insti-servicos {
      width: 50%;

      &__col-1 {
        margin-bottom: 50px;
      }
    }

    &__eventos-fale {
      width: 50%;

      &__col-1 {
        margin-bottom: 50px;
      }
    }
  }

  &-copyright {
    background: #fff;
    color: #000;
    padding: 15px 0;
    @include font-size(14px);

    strong {
      font-family: $text-bold;
    }
  }
}
