.home-content {
  > .container {
    @media screen and (max-width: 991px) {
      overflow: hidden;
    }
  }
}

.home-content__wrap {
  @media screen and (max-width: 991px){
    margin-top: 20px;
  }
}

.home-content__artista-wrap-vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-ver-mais {
  text-align: center;
  font-weight: 700;

  @media screen and (max-width: 1199px){
    display: none;
  }

  a {
    color: #000;
    transition: .5s;

    &:hover {
      color: $color-one;
    }
  }
}

.home-clientes {
  margin-top: 50px;

  @media screen and (max-width: 1199px){
    display: none;
  }
}