.home-content__artista-wrap-vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //border: 2px solid black;
}


.home-ver-mais {
  text-align: center;
  font-family: $text-bold;

  @media screen and (max-width: 1199px){
    display: none;
  }

  a {
    color: #000;
    transition: .5s;

    &:hover {
      color: $color-one;
    }
  }
}