/*
    Mesma folha de estilo para 
    as páginas particular.php
    e corporativo.php já que são
    quase idênticas

*/

.particular {
    &__sobre {
        background: url('../images/particular_banner.jpg') no-repeat;
        background-size: cover;
        height: 970px;
        color: #fff;

        &__content {
            margin-top: 135px;
        }
    }

    &__destaque {
        transform: translateY(-60px);
    }

    &__outros {
        margin-top: 100px;
        margin-bottom: 50px;

        &__btn {
            display: flex;

            p {
                @include font-size(24);
                font-family: $text-bold;
                text-transform: uppercase;
            }

            > div {
                width: 50%;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__btn-cases {
            @include bg-btn-primary;
        }

        &__btn-fotos {
            background: #000;
            color: #fff;
        }
    }
}

.corporativo {
    &__sobre {
        background: url('../images/corporativo_banner.jpg') no-repeat;
        background-size: cover;
    }
}